.container {
  width: 100%;

  h3 {
    padding: 0 10px;
    margin-bottom: 10px;
    border-left: 3px solid #4390ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table {
    width: 100%;
    margin-bottom: 20px;

    tbody {
      tr td {
        vertical-align: middle;

        &:nth-child(3) {
          text-align: center;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }

  .buttons {
    display: flex;

    & > button {
      margin-right: 10px;
    }
  }

}
