.container {

  .header {
    display: flex;
    justify-content: space-between;

    .switch {
      margin: 0 -5px 0 0;
    }
  }

  .menu {
    text-decoration: none;
    color: #000;
  }

  .body {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #000;
  }

  .remarks {
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address {
    color: #a0a0a0;
    padding-left: 2px;
    font-size: .85rem;
  }

  .summary {
    width: 100%;
    margin-top: 20px;
    font-size: .85rem;
    color: #182026;

    tr td {
      padding: 0;
      white-space: nowrap;

      span {
        display: inline-block;
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 10px;
      }

      &:last-child {
        text-align: right;
      }
    }

    svg {
      position: relative;
      top: 1px;
      margin-right: 3px;
      fill: #9e9e9e;
    }
  }

}
