.container {
  border: 1px solid #d5d8da;
  border-radius: 3px;

  .header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    background-color: #f6f8fa;

    .tools {
      position: absolute;
      right: 40px;

      > span {
        cursor: pointer;
        font-size: 16px;
        padding: 5px;
        opacity: .5;
        transition: opacity .1s linear;

        &:hover {
          background-color: #eaeaea;
          border-radius: 2px;
          opacity: .85;
        }
      }
    }
  }

  .body {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      .conn {

        .abstract {

          span {
            display: inline-block;
            margin-right: 5px;

            > svg {
              margin-top: 1px;
            }
          }

          .dot {
            width: 20px;
            height: 10px;
          }
        }

        .details {
          margin-left: 48px;
          margin-top: 5px;
          font-size: .8rem;

          & > span {
            margin-right: 5px;
          }
        }
      }

      &.empty {
        color: #30404d;
        text-align: center;
      }

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
}
